<%= form_tag('home/save_token', method: 'get')  do |form| %>
  <div class="actions", id="APITokenInput">
    <%= label_tag(:token, "Token:") %>
    <%= text_field_tag(:token) %>
   <%= submit_tag("Submit/Retrieve Projects")%>
  </div>
<% end %>