<head>
	<%= favicon_link_tag 'icon.jpg' %>
	<style type="text/css">
		body {
			font-size: 20px;
			text-align: center;
			background-color: #cccccc;
		}
		ul {
			list-style-type: none;
		}
		li {
			width: 350px;
			transition: 0.3s;
			margin: auto;
			background-color: white;
			padding: 10px;
			border-radius: 5px;
		}
		li:hover {
			box-shadow: 0 6px 10px 0 rgba(0,0,0,0.7);
		}
	</style>
</head>

<title>Kanban Tracker - Projects</title>
<%= image_tag("tracker-logo.png") %>
<h2>Welcome to Kanban!</h2>
<% if @projects.to_a.empty? %>
<h3> Looks like your API key was wrong or you have no projects </h3>
<%= link_to "Re-input your token", action: "delete_token" %>
<% else %>
<body>
	<ul >
   	<% @projects.each do |c| %>
		<li>
   		<%= link_to c["name"], controller: "project_page", action: "home", id: c["id"]  %>
		</li><br />
   <% end %>
	</ul>
</body>
<% end %>
