<%= stylesheet_link_tag "application" %>

<html>
<img style="display: block; margin-left: auto; margin-right: auto;" src="https://www.tasktop.com/sites/default/files/styles/large/public/pivotal-tracker-logo_1.png?itok=Qek_Dh-P"/>
<h2 class="TrackerTitle" id="helloUser"><font face="verdana">Kanban</font></h2>
<p class="screenText" id="signInWithGoogleMessage"><font face="verdana">Sign in with Google to see your stories</font></p>
<div class="signButton">
    <meta name ="google-signin-client_id" content="569976604919-hmipa5tk1gjat8h4k13pviegsuo7e4fe.apps.googleusercontent.com">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js' type='text/javascript'></script>
</div>
<body style="text-align: center">
  <div class="g-signin2" data-onsuccess="onSignIn"
    -theme="light" data-width="300" data-height="50"
    data-longtitle="true" id="googleSignInButton">button</div>
    <script src="https://apis.google.com/js/platform.js" async defer; style="display: block; margin-left: auto; margin-right: auto"></script>
    <a href=" " id="signOutWords" onclick="signOut();">Sign out</a>



    <p id="retrieveProjectButton"><%= link_to "Retrieve Projects", {:action => 'helloWorld'}%></p>
    <p id="APIKeyInput"><%= text_field 'project', 'token' ,  placeholder: "Put API Token Here"%></p>


 <script type="text/javascript">
     document.getElementById('signOutWords').style.visibility = 'hidden';
     document.getElementById('retrieveProjectButton').style.visibility = 'hidden';
     document.getElementById('APIKeyInput').style.visibility = 'hidden';
      
      function onSignIn(googleUser) {

        var profile = googleUser.getBasicProfile();
        $('#helloUser').html('Hello ' + profile.getName() + '. <br>Welcome to Kanban Tracker');
        $('#signInWithGoogleMessage').html('You are now signed in');
        document.getElementById('googleSignInButton').style.visibility = 'hidden';
        document.getElementById('signOutWords').style.visibility = 'visible';
        document.getElementById('retrieveProjectButton').style.visibility = 'visible';
        document.getElementById('APIKeyInput').style.visibility = 'visible';

        
          console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
          console.log('Name: ' + profile.getName());
          console.log('Image URL: ' + profile.getImageUrl());
          console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }

        function signOut() {
            document.getElementById('signOutWords').style.visibility = 'hidden';
            document.getElementById('retrieveProjectButton').style.visibility = 'hidden';
            document.getElementById('APIKeyInput').style.visibility = 'hidden';
            document.getElementById('googleSignInButton').style.visibility = 'visible';


            $('#helloUser').html('Kanban Tracker');
            $('#signInWithGoogleMessage').html('Sign in with Google to see your stories');


            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
    </script>




   
</body>
</html>
