<html>
<h1>Sup mmmmmORGAN</h1>
<p>You can find us in our little space hacking away.</p>

<head>
    <meta name="google-signin-client_id" content="569976604919-hmipa5tk1gjat8h4k13pviegsuo7e4fe.apps.googleusercontent.com">
</head>
<body>
    <div id= "login" class="g-signin2" data-onsuccess="onSignIn"></div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <div id= "signOutWords" class="hidden" onclick="signOut();">Sign out</div>
    <script>

      var profile = googleUser.getBasicProfile();
      function onSignIn(googleUser) {
          console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
          console.log('Name: ' + profile.getName());
          console.log('Image URL: ' + profile.getImageUrl());
          console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }
	function sess() {
	if(isset($_SESSION['logged_in']) && $_SESSION['logged_in'] == true) {
            document.getElementById('signOutWords').style.display = 'none';
	}
	else {
            document.getElementById('signOutWords').style.display = 'block';
	}
	}
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
    </script>
</body>
</html>
