/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .TrackerTitle {
    font-size: 30px;
    align-items: center;
    color: #4878A7;
    font-weight: bold;
  }

  .screenText {
    font-size: 15px;
    align-items: center;
    color: #4878A7;
  }

  .signButton {
    margin: 0 auto;
    float: left;
    align-content: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }
  .g-signin2{
    width: 100%;
  }

  .g-signin2 > div{
    margin: 0 auto;
  }
