@import "bootstrap";
html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 200;
  color: #3b414c;
  font-size: 20px;
}

.dropdown {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #4878A7;
  border-radius: 5px;
}

.drop_item {
  width: 200px;
  transition: 0.3s;
  margin: auto;
  background-color: #fff;
  padding: 10px;
}

.drop_item:hover {
  background-color: #eee;
  color: #fff;
}

.sign_in {
	margin: 0 auto;
	float: left;
	align-content: center;
}

.top_nav {
	background-color: #4878A7;
	overflow: hidden;
}

.top_nav a {
	float: right;
  display: block;
  color: #4878A7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.project_view {
	font: Helvetica;
	font-weight: bold;
	font-size: 35px;
	text-align: center;
}

.card {
  position: relative;
  z-index: 1;
  background: #fff;
  padding: 10px 10px 10px 15px;
  margin: 0 0 10px 0;
  overflow: auto;
  border: 1px solid #e5e5df;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  max-width: 350px;
	min-height: 150px;
}

.card_title {
  font-weight: bold;
	font-size: 20px;
  border-bottom: solid 5px transparent;
}

.card:hover {
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.6);
}

.story_name {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	color: #4878A7;
}

.name {
	font-size: 15px;
	text-align: left;
	color: black;
	border-top: dashed 1px #eee;
}

.accept_button {
	float: right;
	border-radius: 5px;
	background-color: #639118;
	font-size: 15px;
	font-weight: bold;
	color: white;
  margin-right: 5px;
}

.reject_button {
	float: right;
	border-radius: 5px;
	background-color: #A5223B;
	font-size: 15px;
	font-weight: bold;
	color: white;
}

.start_button {
	float: right;
	border-radius: 5px;
	background-color: #4878A7;
	font-size: 15px;
	font-weight: bold;
	color: white;
}

.direction_button_right {
	float: right;
	border-radius: 5px;
	background-color: #4878A7;
	font-size: 15px;
	font-weight: bold;
	color: white;
}

.direction_button_left {
	float: left;
	border-radius: 5px;
	background-color: #4878A7;
	font-size: 15px;
	font-weight: bold;
	color: white;
}

.create_column {
  border-radius: 5px;
  margin-left: 25px;
  font-size: 15px;
  background-color: #4878A7;
  color: #fff;
  font-weight: bold;
}

.create_form {
  margin-left: 28px;
}

.submit_button {
  border-radius: 5px;
  background-color: #4878A7;
  color: #fff;
  font-weight: bold;
}

button:hover {
	opacity: 0.7;
}

.column_layout{
  position: relative;
  vertical-align: top;
  white-space: normal;
  height: 100%;
  flex-grow: 1;
  min-width: 375px;
  max-width: 400px;
  padding: 0 20px;
}

.column_title {
	font-size: 18px;
	text-align: left;
	min-width: 320px;
	flex-grow: 1;
	margin-left: 10px;
	margin-bottom: 15px;
	margin-top: 10px;
}

.column_title::after {
	content: "   • • •";
}

.column_container {
	display: flex;
	flex-direction: row;
}

.editButton {
	float: right;
	border-radius: 5px;
	background-color: #eee;
	font-size: 15px;
}

.remove_column {
	float: left;
	border-radius: 5px;
	background-color: #eee;
	font-size: 15px;
  margin-right: 5px;
}

.editColumnForm {
	font-size: 15px;
	text-align: left;
  margin-left: 10px;
  margin-top: 5px;
}

.deleForm {
	font-size: 15px;
  margin-top: 15px;
  min-width: 28px;
  min-height: 28px;
}

.delete_yes {
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background-color: #639118;
  min-width: 28px;
  min-height: 28px;
}

.delete_no {
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  background-color: #A5223B;
  min-width: 28px;
  min-height: 28px;
}

.labels {
  font-size: 10px;
}
