@import "bootstrap";
body {
	font: Helvetica;
	font-size: 15 px;
	color: #4878A7;
	align-items: center;
	background-color: #cce6ff;
}
.sign_in {
	margin: 0 auto;
	float: left;
	align-content: center;
}

.sign_out {
	margin-left: 15px;
}

h1 {
	font-size: 30 px;
	font: Helvetica;
	color: #4878A7;
	align-items: center;
}

.project_view {
	font: Helvetica;
	font-weight: bold;
	font-size: 35px;
	color: #4878A7;
	text-align: center;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
	width: 290px;
	margin: auto;
	text-align: center;
	background-color: white;
}

.card:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
}

.story_name {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #4878A7;
}

.summary {
	font-size: 10px;
	text-align: left;
	color: black;
	margin-left: 15px;
}

button:hover {
	opacity: 0.7;
}

.column_layout {
	flex-grow: 1;
	width: 300px;
	//max-width: 300px;
}

.column_title {
	font-size: 25px;
	text-align: center;
	flex-grow: 1;
}

.column_container {
	display: flex;
	flex-direction: row;
}
