// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
.TrackerTitle {
   font-size: 30px;
   align-items: center;
   color: #4878A7;
 }
