<!DOCTYPE html>
<html>
  <head>
    <title>TrackerKanban</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'render', 'data-turbolinks-eval': false %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>