<head>
	<%= favicon_link_tag 'icon.jpg' %>
	<style type="text/css">
		body {
			font-family: Helvetica, sans-serif;
			font-size: 20px;
			text-align: center;
		}
		body::before {
 			content: " ";
 		  position: fixed;
 		  top: 0;
 		  left: 0;
 		  width: 100%;
 		  height: 100%;
 		  z-index: -1;
			opacity: 0.8;
 		  background: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/corporate-grey-low-poly-geometric-motion-background-video-animation-hd-1920x1080_nypfik1eg__M0008.jpg);
			background-size: cover;
		}
	</style>
</head>
<title>Kanban Tracker - Welcome</title>
<%= image_tag("tracker-logo.png") %>
<h1>Kanban Board</h1>
<p> <br /> </p>
<body>Sign in with Google to see your stories.<br /> <br /></body>
<%= button_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", :method => "get" %>
